In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [15]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [16]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 100063.6094 - mae: 100063.6094 - val_loss: 98584.6797 - val_mae: 98584.6797
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 729us/step - loss: 100404.7656 - mae: 100404.7656 - val_loss: 97468.3125 - val_mae: 97468.3125
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 718us/step - loss: 97520.3828 - mae: 97520.3828 - val_loss: 94539.7422 - val_mae: 94539.7422
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 782us/step - loss: 95540.0234 - mae: 95540.0234 - val_loss: 89499.5156 - val_mae: 89499.5156
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 767us/step - loss: 90423.8828 - mae: 90423.8828 - val_loss: 82684.1250 - val_mae: 82684.1250
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 767us/step - loss: 82617.5938 - mae: 82617.5938 - val_loss: 74800.2109 - val_mae: 74800.2109
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 853us/step - loss: 74991.5234 - mae: 74991.5234 - val_loss: 67089.0625 - val_mae: 67089.0625
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 756us/step - loss: 65947.3672 - mae: 65947.3672 - val_loss: 60561.8398 - val_mae: 60561.8398
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 899us/step - loss: 59350.0820 - mae: 59350.0820 - val_loss: 55809.0156 - val_mae: 55809.0156
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 789us/step - loss: 55089.3242 - mae: 55089.3242 - val_loss: 52900.2422 - val_mae: 52900.2422
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 971us/step - loss: 52912.6055 - mae: 52912.6055 - val_loss: 51514.7305 - val_mae: 51514.7305
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 741us/step - loss: 52116.2305 - mae: 52116.2305 - val_loss: 51016.6836 - val_mae: 51016.6836
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 720us/step - loss: 50575.2266 - mae: 50575.2266 - val_loss: 50855.5234 - val_mae: 50855.5234
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 780us/step - loss: 49987.4805 - mae: 49987.4805 - val_loss: 50791.8047 - val_mae: 50791.8047
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 735us/step - loss: 49879.2422 - mae: 49879.2422 - val_loss: 50747.4258 - val_mae: 50747.4258
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - loss: 49920.2695 - mae: 49920.2695 - val_loss: 50713.0898 - val_mae: 50713.0898
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 964us/step - loss: 50274.2422 - mae: 50274.2422 - val_loss: 50678.4297 - val_mae: 50678.4297
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 788us/step - loss: 49877.1562 - mae: 49877.1562 - val_loss: 50646.2188 - val_mae: 50646.2188
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 737us/step - loss: 49132.0391 - mae: 49132.0391 - val_loss: 50612.3359 - val_mae: 50612.3359
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 722us/step - loss: 50213.8125 - mae: 50213.8125 - val_loss: 50586.5742 - val_mae: 50586.5742
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 757us/step - loss: 50282.3281 - mae: 50282.3281 - val_loss: 50549.7227 - val_mae: 50549.7227
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 743us/step - loss: 50170.9961 - mae: 50170.9961 - val_loss: 50530.8203 - val_mae: 50530.8203
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 785us/step - loss: 50365.8477 - mae: 50365.8477 - val_loss: 50515.2578 - val_mae: 50515.2578
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 756us/step - loss: 49850.3789 - mae: 49850.3789 - val_loss: 50485.2734 - val_mae: 50485.2734
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 760us/step - loss: 50054.6055 - mae: 50054.6055 - val_loss: 50472.2148 - val_mae: 50472.2148
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 735us/step - loss: 49872.8555 - mae: 49872.8555 - val_loss: 50454.3555 - val_mae: 50454.3555
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 759us/step - loss: 49542.5508 - mae: 49542.5508 - val_loss: 50432.7812 - val_mae: 50432.7812
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 740us/step - loss: 49856.5352 - mae: 49856.5352 - val_loss: 50419.4102 - val_mae: 50419.4102
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 741us/step - loss: 50084.5586 - mae: 50084.5586 - val_loss: 50409.2344 - val_mae: 50409.2344
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 740us/step - loss: 49761.9609 - mae: 49761.9609 - val_loss: 50404.2070 - val_mae: 50404.2070
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - loss: 49443.0000 - mae: 49443.0000 - val_loss: 50398.6445 - val_mae: 50398.6445
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 728us/step - loss: 49778.4648 - mae: 49778.4648 - val_loss: 50381.2227 - val_mae: 50381.2227
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 907us/step - loss: 49715.4766 - mae: 49715.4766 - val_loss: 50373.8047 - val_mae: 50373.8047
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 738us/step - loss: 50174.0820 - mae: 50174.0820 - val_loss: 50359.6055 - val_mae: 50359.6055
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 731us/step - loss: 50186.1602 - mae: 50186.1602 - val_loss: 50360.7070 - val_mae: 50360.7070
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 742us/step - loss: 49446.1719 - mae: 49446.1719 - val_loss: 50352.0781 - val_mae: 50352.0781
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - loss: 49419.6680 - mae: 49419.6680 - val_loss: 50346.1758 - val_mae: 50346.1758
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 720us/step - loss: 49503.1289 - mae: 49503.1289 - val_loss: 50336.1797 - val_mae: 50336.1797
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - loss: 49657.3867 - mae: 49657.3867 - val_loss: 50337.9609 - val_mae: 50337.9609
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - loss: 49970.4805 - mae: 49970.4805 - val_loss: 50331.0352 - val_mae: 50331.0352
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49308.8828 - mae: 49308.8828 - val_loss: 50330.4414 - val_mae: 50330.4414
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 734us/step - loss: 49699.6211 - mae: 49699.6211 - val_loss: 50333.4531 - val_mae: 50333.4531
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 747us/step - loss: 49505.8633 - mae: 49505.8633 - val_loss: 50328.6094 - val_mae: 50328.6094
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 724us/step - loss: 49392.5664 - mae: 49392.5664 - val_loss: 50327.6562 - val_mae: 50327.6562
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - loss: 49687.9453 - mae: 49687.9453 - val_loss: 50318.8789 - val_mae: 50318.8789
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 746us/step - loss: 49745.8984 - mae: 49745.8984 - val_loss: 50314.4414 - val_mae: 50314.4414
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 915us/step - loss: 49427.8086 - mae: 49427.8086 - val_loss: 50319.5898 - val_mae: 50319.5898
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 738us/step - loss: 49716.7539 - mae: 49716.7539 - val_loss: 50318.8594 - val_mae: 50318.8594
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 725us/step - loss: 49401.5078 - mae: 49401.5078 - val_loss: 50320.6992 - val_mae: 50320.6992
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 730us/step - loss: 49721.1172 - mae: 49721.1172 - val_loss: 50313.4219 - val_mae: 50313.4219
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 719us/step - loss: 49833.7109 - mae: 49833.7109 - val_loss: 50311.2656 - val_mae: 50311.2656
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - loss: 49983.2383 - mae: 49983.2383 - val_loss: 50304.1953 - val_mae: 50304.1953
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 739us/step - loss: 49623.5547 - mae: 49623.5547 - val_loss: 50313.9961 - val_mae: 50313.9961
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 738us/step - loss: 49447.0352 - mae: 49447.0352 - val_loss: 50313.7969 - val_mae: 50313.7969
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 735us/step - loss: 49475.9688 - mae: 49475.9688 - val_loss: 50316.0742 - val_mae: 50316.0742
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 718us/step - loss: 49451.4414 - mae: 49451.4414 - val_loss: 50311.2266 - val_mae: 50311.2266
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 735us/step - loss: 49353.5273 - mae: 49353.5273 - val_loss: 50304.8164 - val_mae: 50304.8164
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - loss: 49203.9688 - mae: 49203.9688 - val_loss: 50314.4805 - val_mae: 50314.4805
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 708us/step - loss: 49144.5938 - mae: 49144.5938 - val_loss: 50303.1797 - val_mae: 50303.1797
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 726us/step - loss: 49126.7695 - mae: 49126.7695 - val_loss: 50305.7266 - val_mae: 50305.7266
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 942us/step - loss: 49506.1367 - mae: 49506.1367 - val_loss: 50313.3203 - val_mae: 50313.3203
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 740us/step - loss: 49905.9023 - mae: 49905.9023 - val_loss: 50309.0156 - val_mae: 50309.0156
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 720us/step - loss: 49301.4219 - mae: 49301.4219 - val_loss: 50308.1758 - val_mae: 50308.1758
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 736us/step - loss: 49521.7500 - mae: 49521.7500 - val_loss: 50308.9297 - val_mae: 50308.9297
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 742us/step - loss: 49601.8672 - mae: 49601.8672 - val_loss: 50303.6055 - val_mae: 50303.6055
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 729us/step - loss: 49644.4766 - mae: 49644.4766 - val_loss: 50311.1367 - val_mae: 50311.1367
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 740us/step - loss: 50293.4688 - mae: 50293.4688 - val_loss: 50305.8789 - val_mae: 50305.8789
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - loss: 49004.2070 - mae: 49004.2070 - val_loss: 50312.1016 - val_mae: 50312.1016
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 738us/step - loss: 49384.7539 - mae: 49384.7539 - val_loss: 50320.3789 - val_mae: 50320.3789

In [17]:
%load_ext tensorboard

In [23]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6008 (pid 14295), started 0:00:03 ago. (Use '!kill 14295' to kill it.)

## Evaluate model on test data

In [19]:
test_loss,test_mae = model.evaluate(X_test,y_test)
print(f'test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - loss: 51111.1562 - mae: 51111.1562
test MAE : 50303.1796875

In [20]:
model.save('regression.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [21]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [24]:
# Load the trained model
model = tf.keras.models.load_model('regression.h5')

# Load the encoders and scaler
with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('onehot_encoder_geo.pkl', 'rb') as file:
    onehot_encoder_geo = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [25]:
## Example 

input_data = {
    'CreditScore' : 600 ,
	'Geography'	: 'France' ,
    'Gender' : 'Male' ,
	'Age' : '40',
    'Tenure': 3 ,
    'Balance': 60000 ,	
    'NumOfProducts'	: 2 ,
    'HasCrCard'	: 1 ,
    'IsActiveMember' : 1, 
    'Exited' : 1    
}

In [27]:
geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

/opt/anaconda3/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [28]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,600,France,Male,40,3,60000,2,1,1,1

In [29]:
## Encode categorical variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,600,France,1,40,3,60000,2,1,1,1

In [30]:
## concatination one hot encoded 
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,1,1.0,0.0,0.0

In [31]:
## Scaling the input data
input_data_scaled=scaler.transform(input_df)
input_data_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699,  1.96626042,  1.00150113,
        -0.57946723, -0.57638802]])

In [32]:
# Predict estimated salaries
prediction = model.predict(input_data_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step

array([[86429.56]], dtype=float32)

In [33]:
prediction_salary = prediction[0][0]
prediction_salary

86429.56